.grid
{
    display: grid;
    background-color: rgb(17, 42, 70);
    width: 55em;
    height: 14em;
    padding: 1em;
}
#header
{
    display: flex;
    grid-row: 1/7;
    grid-column: 1/3;
    background-color: rgb(177, 57, 48);
    height: 4.7em;
}
#menu
{
    display: flex;
    grid-row: 7/8;
    grid-column: 1/3;
    background-color: rgb(184, 172, 50);
    height: 8em;
    width: 14em;
}
#main
{
    display: flex;
    grid-column: 2/3;
    grid-row: 7/8;
    width: 24em;
    height: 3em;
    background-color: rgb(30, 115, 178);
    float: left;
}
#right
{
    margin-top: .5em;
    height: 3em;
    grid-column: 4/4;
    grid-row: 5/8;
    background-color: rgb(1, 131, 121);
}
#footer
{
    display: flex;
    margin-top: 4em;
    background-color: blueviolet;
    grid-row: 7/9;
    grid-column: 2/3;
    height: 4em;
    width: 32;
}